@charset "ISO-8859-1";
h3, h2 {
	font-family: monospace sans-serif;
	text-decoration: underline;
	color: maroon;
	align: left;
}

legend {
	color: purple;
}

#header {
	width: 720px;
	height: 380px;
}

th {
	text-align: left;
}

#status {
	font-size: x-large;
	font-style: italic;
	text-align: justify;
	background-color: #FFFCEC;
}

#right ul.cat li {
	float: left;
	margin: 0 14px 0 0;
	color: rgb(64, 0, 0);
	font: bold 11px/normal Arial, Helvetica, sans-serif, Tahoma;
}

#right ul.cat li a {
	color: #B57D0A;
	font: bold 12px/normal Arial, Helvetica, sans-serif, Tahoma;
	text-decoration: underline;
}

#right div.books ul.cat li a:hover {
	color: #000000;
}

input {
	height: 22px;
	width: 10cm;
}

input.submit {
	border-radius: 8px;
	text-align: center;
	font-family: monospace;
	text-decoration: none;
	font-size: 14px;
	color: black;
	margin: 4px 2px;
	display: inline-block;
	border: none;
	font-weight: bold;
	background-color: #ffff97;
	color: navy;
}